<header class="header-container">
  <div class="branding">
    <img src="assets/images/AccuielPage/Film-icon.png" alt="branding_img">
  </div>
  <nav class="nav-links">
    <ul>
      <li><a routerLink="/listes-films">Acceuil</a></li>
      <li><a routerLink="/recherche">Rechercher un film</a></li>
      <li><a routerLink="">Films favoris</a></li>
    </ul>
  </nav>
</header>