<section class="section">
  <div class="container">
    <div class="card-image has-text-centered">
      <figure class="image is-inline-block">
        <img class="is-rounded" src="assets/images/AccuielPage/image01.jpg" />
      </figure>
    </div>
  </div>
</section>