<div class='trending-section'>
    <div class="head-content">
        <h2><i>Liste des Films</i></h2>
    </div>
    <!--Section to display what's trending this week-->
    <section class="d-flex flex-wrap">
        <div *ngFor="let film of films" class="card">
            <p class="title">Titre: {{film.original_title}}</p>
            <p>Date de sortie: {{film.release_date}}</p>
            <p>Vote: {{film.vote_average}}</p>
            <input class="favorite styled"
            type="button"
            value="Ajouter à ma liste des favoris"
            (click)="addFavourite">
            <div *ngIf='film.poster_path!=null'>
                <img class="film-poster" src="https://image.tmdb.org/t/p/original{{ film.poster_path }}"
                alt="Movie Poster">
            </div>
        </div>
    </section>
</div>